.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative; /* Ensure relative positioning for child elements */
}

#SignInToMovieX3 {
    color: #252422;
    font-size: 20px;

    text-align: center;
    margin-top: -7px; /* Reset margin-top */
    margin-bottom: 30px; /* Add space below the heading */
    position: absolute; /* Position absolutely within the form */
    top: -30px; /* Move it above the form */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for exact centering */

    width: 100%;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#loginbutton {
    background-color: #252422;
    color: white;
    padding: 10px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
}

#loginbutton:hover {
    background-color: #ffafcc;
}